.container {
  height: 100%;
  width: 100%;
  .panel-header {
    padding-left: 16px;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(240, 240, 240);
  }

  .row {
    display: grid;
    grid-template-columns: 240px calc(100% - 240px);
    height: 64px;
    .key {
      display: flex;
      align-items: center;
      width: 240px !important;
      padding-left: 16px;
    }
    .value {
      display: flex;
      align-items: center;
      width: auto !important;
    }
    input,
    select {
      height: 32px;
      width: 360px;
      border-radius: 8px;
      border: 1px solid rgb(178, 179, 182);
      padding-left: 16px;
    }
    h4 {
      font-weight: bold;
      width: auto !important;
    }
    border-bottom: 1px solid rgb(240, 240, 240);
  }
}
