.outer-container {
  width: 100%;
  height: 100%;
  user-select: none;
  display: flex;
  .sideBar {
    // top: 50px;
    z-index: 999;
    position: fixed;
    user-select: none;
    background-color: var(--bars-background);
    width: var(--side-bar-width);
    height: 100%;
    transition: left 0.2s;
    .imgContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 100%;
      cursor: pointer;
      img {
        background-color: var(--bars-color);
        height: 50px;
      }
    }
    .link-container {
      width: 100%;
      padding: 0 16px;
      height: 42.5px;
      margin-bottom: 4px;
    }
    .LinksHolder {
      padding-top: 20px;
      .LinkHolder {
        width: 100%;
        height: 100%;
        display: flex;
        text-decoration: none;
        align-items: center;
        padding: 9px 24px;
        border-radius: 8px;
        .iconHolder {
          width: 40px;
          justify-content: center;
          display: flex;
          cursor: pointer;
          svg {
            fill: var(--bars-color);
          }
        }
        &:hover {
          background-color: var(--sidebar-active-background);
        }
        &Active {
          background-color: var(--sidebar-active-background);
          span {
            color: var(--bars-active-color) !important;
          }
          .iconHolder {
            svg {
              fill: var(--bars-active-color);
            }
          }
        }
        span {
          color: var(--bars-color);
        }
      }
    }
    .type-holder {
      margin-top: 12px;
      .type-label {
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 2.5;
        margin-left: 32px;
        color: rgb(107, 114, 128);
      }
    }
  }
  .container {
    width: calc(100%);
    height: calc(100%);
    display: flex;
    flex-direction: column;
    .outlet {
      width: calc(100%);
      background-color: var(--background);
    }
    .top-bar {
      position: relative;
      z-index: 999;
      height: var(--top-bar-height);
      width: 100%;
      background-color: var(--top-bars-background);
      display: flex;
      flex-direction: row;
      .imgContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 100%;
        cursor: pointer;
        img {
          background-color: var(--bars-color);
          height: 50px;
        }
      }
      h2 {
        color: color;
        display: flex;
        align-items: center;
      }
      .user-holder {
        display: flex;
        align-items: center;
        user-select: none;
        cursor: pointer;
        height: 60%;
        align-self: center;
        width: max-content;
        margin-right: 8px;
        border-radius: 12px;
        padding: 4px;
        padding-left: 10px;
        &:hover {
          background-color: rgba(107, 114, 128, 0.04);
        }
        .tool-tip-label {
          font-weight: bold;
          display: flex;
          align-items: center;
          padding: 10px;
        }
      }
    }
  }
}
.blur {
  z-index: 997;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  inset: 0px;
}
.tool-tip {
  position: relative;
  display: inline-block;
  z-index: 999;
  .tool-tip-text {
    display: flex;
    flex-direction: column;
    padding: 12px;
    visibility: hidden;
    width: 240px;
    background-color: var(--bars-background);
    border-radius: 6px;
    padding: 12px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: -180%;
    margin-left: -60px;
    height: max-content;
    div {
      display: flex;
      width: 100%;
      height: max-content;
      padding: 10px 32px;
      text-align: start;
      color: var(--bars-color);
      .tool-tip-icon {
        fill: var(--bars-color);
      }
      .tool-tip-content {
        padding-left: 8px;
        color: var(--bars-color);
      }
      &:hover {
        .tool-tip-icon {
          fill: #fff;
        }
        .tool-tip-content {
          color: #fff;
        }
      }
    }
    &:hover {
      visibility: visible;
    }
  }
  .tool-tip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 75%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  .tool-tip-text-active {
    visibility: visible;
  }
}
hr {
  margin: 24px 0;
  flex-shrink: 0;
  border-width: 0px 0px thin;
  border-style: solid;
  border-color: rgb(45, 55, 72);
}

@media (min-width: 1024px) {
  .blur {
    display: none;
  }
  .sideBar {
    position: initial !important;
  }
  .outlet {
    height: calc(100% - var(--top-bar-height));
  }
  .top-bar {
    .imgContainer {
      display: none !important;
    }
  }
}
