.outer-container {
  width: 100%;
  height: 100%;
  user-select: none;
  display: flex;
  .sideBar {
    // top: 50px;

    z-index: 999;
    position: fixed;
    user-select: none;
    background-color: var(--bars-background);
    width: var(--side-bar-width);
    height: 100%;
    transition: left 0.2s;
    .imgContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 100%;
      cursor: pointer;
      img {
        background-color: var(--bars-color);
        height: 50px;
      }
    }
    .link-container {
      width: 100%;
      padding: 0 16px;
      height: 42.5px;
      margin-bottom: 4px;
    }

    .LinksHolder {
      padding-top: 20px;
      .LinkHolder {
        width: 100%;
        height: 100%;
        display: flex;
        text-decoration: none;
        align-items: center;
        padding: 9px 24px;
        border-radius: 8px;
        .iconHolder {
          width: 40px;
          justify-content: center;
          display: flex;
          cursor: pointer;
          svg {
            fill: var(--bars-color);
          }
        }
        &:hover {
          background-color: var(--sidebar-active-background);
        }
        &Active {
          background-color: var(--sidebar-active-background);
          span {
            color: var(--bars-active-color) !important;
          }
          .iconHolder {
            svg {
              fill: var(--bars-active-color);
            }
          }
        }
        span {
          color: var(--bars-color);
        }
      }
    }
    .type-holder {
      margin-top: 12px;
      .type-label {
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 2.5;
        margin-left: 32px;
        color: rgb(107, 114, 128);
      }
    }
    hr {
      margin: 24px 0;
      flex-shrink: 0;
      border-width: 0px 0px thin;
      border-style: solid;
      border-color: rgb(45, 55, 72);
    }
  }
  .container {
    width: calc(100%);
    height: calc(100%);
    display: flex;
    flex-direction: column;
    .outlet {
      width: calc(100%);
      background-color: var(--background);
    }
    .top-bar {
      position: relative;
      z-index: 999;
      height: var(--top-bar-height);
      width: 100%;
      background-color: var(--top-bars-background);
      display: flex;
      flex-direction: row;
    }
  }
}
.blur {
  z-index: 997;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  inset: 0px;
}

.outlet {
  height: calc(100% - var(--top-bar-height));
}
@media (min-width: 1024px) {
  .blur {
    display: none;
  }
  .sideBar {
    position: initial !important;
  }
  .top-bar {
    .imgContainer {
      display: none !important;
    }
  }
}
