.form-input {
  input {
    border: 0px;
    margin: 0px;
    min-width: 0px;
    height: 1.375rem;
    width: 100% !important;
    outline: none;
  }
  letter-spacing: 0.00938em;
  cursor: text;
  padding: 0.5rem 0.75rem;
  border: 0.0625rem solid rgb(210, 214, 218);
  border-radius: 0.5rem;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
  line-height: 1.4 !important;
  color: rgb(73, 80, 87) !important;
  transition: box-shadow 150ms ease 0s, border-color 150ms ease 0s,
    padding 150ms ease 0s !important;
}
.form-input-active {
  border-color: rgb(53, 209, 245);
  box-shadow: rgb(129, 227, 249) 0rem 0rem 0rem 0.125rem;
}
.form-input-error {
  border-color: var(--error-color);
  box-shadow: var(--error-color) 0rem 0rem 0rem 0.125rem;
}
