.container {
  height: 100%;
  width: 100%;
  // display: flex;
  // flex-direction: column;
  user-select: none;

  .panel-header {
    padding-left: 16px;
    height: 50px;
    display: flex;
    align-items: center;
  }
  .protocol-panel {
    // height: calc(100% + 30px);
    padding: 16px;

    .panel-header {
      select {
        margin-left: 16px;
        padding: 6px;
        padding-right: 16px;
        cursor: pointer;
        border: 1px solid var(--bars-background);
        border-radius: 8px;
      }
    }
  }
  .form-container {
    width: 100%;
    table {
      width: 100%;
      border-collapse: collapse;
      table-layout: auto;
      tr {
        height: 64px;
        td {
          padding-left: 16px;
          width: auto !important;
        }
        input,
        select {
          height: 32px;
          width: 360px;
          border-radius: 8px;
          border: 1px solid rgb(178, 179, 182);
          padding-left: 16px;
        }
        h4 {
          font-weight: bold;
          width: auto !important;
        }
        border-bottom: 1px solid rgb(240, 242, 245);
      }
    }
  }
}
