.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  .row1 {
    width: 100%;
    height: 100%;
    display: flex;
    padding-bottom: 8px;
    flex: 50%;
    min-height: 0;
    .col1 {
      height: 100%;
      width: 100%;
      padding-right: 8px;
      flex: 2;
    }
    .col2 {
      padding-left: 8px;
      height: 100%;
      width: 100%;
      flex: 1;
    }
  }
  .row2 {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 8px;
    flex: 50%;
    min-height: 0;
    .col1,
    .col2,
    .col3 {
      width: 100%;
      height: 100%;
    }
    .col1 {
      padding-right: 8px;
      display: flex;
      flex-direction: column;
      flex: 1;
      min-width: 0;
      .row1 {
        height: 100%;
        padding-bottom: 8px;
      }
      .row2 {
        padding-top: 8px;
        height: 100%;
      }
    }
    .col2 {
      padding-left: 8px;
      padding-right: 8px;
      flex: 1;
      min-width: 0;
    }
    .col3 {
      padding-left: 8px;
      flex: 1;
      min-width: 0;
    }
  }
}
