.container {
  width: 100%;
  height: 100%;
  padding: 16px;

  .networkChart {
    height: 50%;
  }
  .networkInfo {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .system {
    padding-top: 10px;
    height: 100%;
  }
}
